<template>
  <div>
    <p>{{id}}</p>
    {{tarea}}
    <form @submit.prevent="editarTarea(tarea)">
      <input type="text" v-model="tarea.nombre">
    </form>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  name: "Editar",
  data() {
    return {
      id: this.$route.params.id
    };
  },
  methods: { ...mapActions(["getSingleTarea", "editarTarea"]) },
  computed: {
    ...mapState(["tarea"])
  },
  created() {
    this.getSingleTarea(this.id);
  }
};
</script>

<style>
</style>
