<template>
  <div>
    <ul class="list-group">
      <li v-for="(fruta, key) in arrayOrdenado" :key="key" @click="incrementar(key)" class="list-group-item d-flex justify-content-between align-items-center">
        {{key}} - {{fruta.nombre}}
        <span class="badge badge-primary badge-pill">{{fruta.cantidad}}</span>
      </li>
    </ul>
    <a href="#" class="btn btn-danger my-4 d-block" @click.prevent="reiniciar">Reiniciar</a>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
  name: "Lista",
  computed: {
    ...mapState(["frutas"]),
    arrayOrdenado(state) {
      return state.frutas.sort((a, b) => b.cantidad - a.cantidad);
    }
  },
  methods: {
    ...mapMutations(["incrementar", "reiniciar"])
  }
};
</script>

<style lang="" scoped></style>
